<% if current_user %>

	<h1><%= "#{current_user.first_name} #{current_user.last_name}" %></h1>
	<%= link_to "Sign out", destroy_user_session_path %>

<% else %>

	<h1> Gonna have to sign in. </h1>

<% end %>

