<li class='event'>
  <div class='event-name'>{{event.name}}</div>
{{!--   <div class='event-colors'>
    <ul>
      {{!#each property in event.properties}}
      	{{!event-stripe property=property listLength=event.friends.length}}
      {{!/each}}
    </ul>
  </div> --}}
</li>