#arrow-selector {
	list-style-type: none;
	width: 45px;
	.arrow {
		cursor: pointer;
		margin: auto;
		margin-top: 10px;
		margin-bottom: 10px;
		width: 0; 
		height: 0; 
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		&.up {
			border-bottom: 15px solid white;
		}
		&.down {
			border-top: 15px solid white;
		}
		.hour {

		}
	}
}

