<div id='show-event'>

	<div class='row'>
		<div class='large-8 columns'>
			{{#each friend in friends}}
				<ul class='freinds-list'>
					<li>
						{{friend.fullName}}
						<button>dougs</button>
					</li>
				</ul>
			{{/each}}
		</div>
		<div class='large-4 columns'>
			<h3>{{name}}</h3>
			{{google-map latitude=latitude longitude=longitude}}
			{{friend-search action="addFriend"}}
		</div>
	</div>




	
</div>
